body {
	background-color: #AEAEAE;
	margin: 0;
}

.wrapper {
	margin: 0 auto;
	width: 80%;
}

.header {
	background-color: #E7E5E6;
	padding: 30px;
}

.header .logo {
    background-color: #AEAEAE;
    font-size: 48px;
    display: inline-block;
    padding: 15px 50px;
    text-transform: uppercase;
}

.navigation {
	background-color: #A5A3A4;
}

.navigation ul {
	margin: 0;
	padding-left: 0;
}

.navigation li {
	display: inline-block;
	padding: 15px 25px;
}

.navigation a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.main {
    background-color: #F3EFF0;
    float: left;
    height: 600px;
    width: 70%;
}

.main h1 {
	padding-left: 35px;
}

.main p{
	padding: 5px 35px;
}

.sidebar {
	background-color: #CECCCD;
	float: right;
	height: 600px;
	width:30%;
}

.sidebar h2 {
	padding-left:20px;
}

.footer {
	clear: both;
	background-color: #514F50;
	font-size: 14px;
	padding: 9px 0;
}

.footer h5 {
	margin: 0;
	color: #ffffff;
	padding-left: 35px;
}
